*.log
.DS_Store
node_modules
dist
# pnpm-lock.yaml
yarn.lock
package-lock.json
coverage

# Recommendation from https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored (not using Zero-installs)
.yarn/*
!.yarn/releases
!.yarn/plugins
!/.yarn/sdks/
!/.yarn/sdks/**/lib/
!.yarn/versions
.pnp.*
